@font-face {
	font-family: 'SegoeWP';
	src: url('../fonts/SegoeWP.ttf');
}

body {
	font-family: "SegoeWP";;
}


.header {
	max-width: 1200px;
	margin: 0 auto;
	height: 89px;
	padding: 0 10px;
}

.logo {
	float: left;
	margin-top: 20px;
}

.logo-sign {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: #5094f2;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 4px;
	vertical-align: top;
}

.logo-sign img {
	margin: 12px;
}

.logo-text {
	display: inline-block;
	color: #000000;
	font-size: 42px;
	font-weight: 300;
	vertical-align: top;
}

.nav {
	float: right;
	margin-top: 32px;
}

.nav li {
	display: inline-block;
	list-style-type: none;
	margin-right: 42px;
}

.nav li:last-child {
	margin-right: 0;
}

.nav a {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 13px;
}

.nav li.active a, nav li:hover a {
	border-bottom: 3px solid #5094f2;
}

.slider-holder {
	background-image: url(../images/slider-bg.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
}

.slider {
	max-width: 1200px;
	margin: 0 auto;
}

.slide {
	padding-top: 38px;
}

.slide-img {
	display: inline-block;
	margin-left: 60px;
}

.slide-desc {
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	margin-left: 100px;
	margin-top: 105px;
}

.slide-title {
	font-size: 42px;
	line-height: 1.1;
}

.slide-text {
	font-size: 26px;
	margin-top: 20px;
	line-height: 1.7;
}

.slide-button {
	display: inline-block;
	padding: 6px 12px 11px 45px;
	background: url(../images/sign-up-icon.png) no-repeat #5094f2;
	background-position: 11px 8px;
	font-size: 22px;
	border-radius: 3px;
}