@font-face {
	font-family: 'SegoeWP';
	src: url('../fonts/SegoeWP.ttf');
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "SegoeWP";;
}


.header {
	max-width: 980px;
	margin: 0 auto;
	height: 89px;
	padding: 0 10px;
}

.logo {
	float: left;
	margin-top: 20px;
}

.logo-sign {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-color: #5094f2;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: 4px;
	vertical-align: top;
}

.logo-sign img {
	margin: 12px;
}

.logo-text {
	display: inline-block;
	color: #000000;
	font-size: 42px;
	font-weight: 300;
	vertical-align: top;
}

.nav {
	float: right;
	margin-top: 32px;
}

.nav li {
	display: inline-block;
	list-style-type: none;
	margin-right: 42px;
}

.nav li:last-child {
	margin-right: 0;
}

.nav a {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 13px;
}

.nav li.active a, nav li:hover a {
	border-bottom: 3px solid #5094f2;
}

.nav li.active a {
	cursor: default;
}

.slider-holder {
	background: url(../images/slider-bg.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	-ms-background-position-x: center;
	background-position-x: center;
	-ms-background-position-y: center;
	background-position-y: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.slider {
	max-width: 980px;
	margin: 0 auto;
}

.slide {
	padding: 3.9vw 0 0.8vw;
}

.slide-img {
	display: inline-block;
	margin-left: 60px;
}

.slide-img img {
	width: 35.2vw;
}

.slide-desc {
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	margin-left: 10.2vw;
	margin-top: 10.9vw;
}

.slide-title {
	font-size: 4.5vw;
	line-height: 1.1;
}

.slide-text {
	margin-top: -18px;
}

.slide-text p {
	font-size: 2.6vw;
	line-height: 1.7;
	margin-bottom: 20px;
}

.subscribe-button {
	margin: 9px 0 0 13px;
	display: inline-block;
	padding: 6px 12px 10px 45px;
	background: url(../images/sign-up-icon.png) no-repeat #5094f2;
	background-position: 11px 8px;
	border: none;
	border-radius: 2px;
	font-size: 22px;
	color: #fff;
}

.subscribe-button:hover {
	cursor: pointer;
	background-color: #67a0ef;
}

.border {
	background: url(../images/border.png);
	height: 8px;
	margin-top: -8px;
}

.features-holder {
	max-width: 980px;
	margin: 73px auto 91px;
	min-height: 275px;
	clear: both;
}

.feature {
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 0 10px;
}

.feature-img {
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	width: 19vw;
	height: 19vw;
	text-align: center;
}

.feature-img img {
	width: 40%;
	height: auto;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.feature-img[class~="standart"] {
	background-color: #5094f2;
}

.feature-img[class~="danger"] {
	background-color: #d94748;
}

.feature-img[class~="warning"] {
	background-color: #ebbb11;
}

.danger img, .warning img {
	width: 50%;
}

.feature-title {
	color: #5094f2;
	font-size: 20px;
	font-weight: 400;
	line-height: 2.2;
	margin-top: 13px;
}

.feature-text {
	color: #909090;
	font-size: 14px;
	font-weight: 400;
}

.shopping-cart-holder {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}

h2 {
	color: #6f7173;
	font-size: 3.5vw;
	font-weight: 400;
	line-height: 1.1;
}

.shopping-cart-img {
	float: left;
	width: 31vw;
}

.shopping-cart-img img {
	width: 100%;
	height: auto;
}

.shopping-cart-desc {
	margin-left: 35vw;
	margin-bottom: 60px;
}

.shopping-cart-desc p {
	color: #909090;
	font-size: 1.4vw;
	font-weight: 300;
	line-height: 2.4;
}

h3 {
	color: #6f7173;
	font-size: 2.1vw;
	font-weight: 400;
	line-height: 1.8;	
}

.footer {
	border-top: 1px solid #e6e6e6;
}

.footer p {
	text-align: center;
	color: #909090;
	font-size: 15px;
	font-weight: 300;
	line-height: 2.4;
}

@media screen and (min-width: 980px) {
	.slide {
		padding: 38px 0 8px;
	}

	.slide-img img {
		width: 345px;
	}

	.slide-desc {
		margin-left: 100px;
		margin-top: 107px;
	}

	.slide-title {
		font-size: 42px;
	}

	.slide-text p {
		font-size: 26px;
	}

	.feature-img {
		width: 186px;
		height: 186px;
		text-align: center;
	}

	h2 {
		font-size: 42px;
	}

	.shopping-cart-img {
		width: 371px;
	}

	.shopping-cart-desc {
		margin-left: 454px;
		margin-bottom: 60px;
	}

	.shopping-cart-desc p {
		font-size: 15px;
	}

	h3 {
		font-size: 26px;
	}
}